
/* Fonts style */






/* // End Fonts style */





/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

ul{ 
    list-style: none;
}
article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

.clear:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
a img{
    border:0;
}
a,input,select,textarea{
    outline:none;
}
input::-moz-focus-inner{
    border:0; padding: 0;
}

img{
    float: left; height:  auto
}

/* Selection colours (easy to forget) */

img::selection 		{background: transparent;}
img::-moz-selection	{background: transparent;}
a{text-decoration: none; display: inline-block;}
/*a:hover{text-decoration: underline; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; transition: all .2s ease-in-out;}*/
em, dfn, address{font-style: normal;}

/*		Default Layout 
-------------------------------------------------------------------------------
*/

body {background: rgb(255,255,255); color: rgb(60,60,60); -webkit-text-size-adjust: 100%; -moz-text-size-adjust:100%; -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased; overflow-x: hidden; overflow-y:auto;}

*{-webkit-box-sizing: border-box;-moz-box-sizing:border-box; box-sizing: border-box;}


 .clear:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.common-wrap{max-width:1450px; margin: 0 auto; padding:0 40px}





.main-wrap{max-width:1500px; margin: 0 auto;}
.agent-mode-wrap{float:left; width: auto; margin:30px}
.agent-button-wrap{float:left; width: auto;}
.agent-button-wrap dfn{display:inline-block; color: red; font-size:16px; padding-left:20px}
.switch{float:left; width:40px; height:20px; position:relative}
.switch input{display: none}

.slider{position:absolute; top:0; left: auto; bottom: 0; right:0; width:40px; height:20px; background:transparent; border:1px solid #dddddd; border-radius:20px}

.agent-button-wrap input:checked + .slider:before { -webkit-transform: translateX(13px); -ms-transform: translateX(13px); transform: translateX(13px); background: #000000; }

.slider:before{content:" "; width:11px; height:11px; background: #e4e9ec; border-radius:100%; left:6px; bottom:3px; position:absolute;-webkit-transition:all .4s;-moz-transition:all .4s;transition:all .4s; }
.agent-mode-wrap a{float:left; width:auto; padding-left:20px}




.checkbox-wrap{float:left; width:438px; margin-top:50px; padding-right:40px; position:relative; padding-left:38px; clear:both}
.check-label{float:left; width:auto; cursor:pointer}
.checkbox-wrap input[type="checkbox"], .checkmark{position:absolute; top:0; right:0; width:30px; height:30px; border:6px solid #d8d7c7; background-color:#ffffff; cursor:pointer}
.checkbox-wrap input[type="checkbox"]{margin:0; padding:0; opacity: 0; z-index: 2}
.checkbox-wrap input[type="checkbox"]:checked ~ .checkmark{background-image: url(../images/cross.svg)}
.checkmark{background-repeat:no-repeat; background-size:10px 10px; background-position:center center}


.custom-checkbox {max-width:900px; margin:0 auto; background-color:bisque}



.attach-file-wrap{float:left; width:438px; clear:both; margin-top:50px; padding-left:38px}
.attach-btn-wrap{float:left; width:100%; margin-top:32px; text-align: center; position:relative}
.attach-btn-wrap span{float:left; width:100%; width:200px; height:49px; line-height:49px; background:transparent; border:1px #000 dotted; margin-right:24px;}
.upload-btn{float:left; width:176px; height:49px; line-height:49px; color:#fff; background: #1f4548; border:none;}
.attach-file-wrap input[type="file"]{position:absolute; width:176px; height:49px; top:0; right:0; cursor:pointer; opacity:0}
.apply-form{float:left; width:400px; clear:both; margin-top:50px; padding-left:30px}
.input-wrap{float:left; width:100%; text-transform: uppercase}
.input-wrap .selectric .label {float:left; width:100%; height:49px; line-height: 49px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); color:hotpink; padding:0 25px; background: #dfdf; }

.input-wrap .selectric .button{background-image: url(../images/selectric-icon.png); background-repeat:no-repeat; width:11px; height:7px; background-size:contain; top:24.5px; right:20px; transform: translateY(-50%)}
.input-wrap .selectric-items{top:49px; background:#dfdf}
.input-wrap .selectric-items li{height:49px; line-height: 49px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); padding:0 25px; color:hotpink}
.main-slider{max-width:800px; margin:0 auto; padding:50px 0; clear:both}
.center-slider{ float:left; width:300px; padding-left:50px}
.center-slider img{width:100%}
.slick-dotted.slick-slider{margin-bottom: 0}
.slick-prev, .slick-next{background:hotpink}


/* Hamburger*/
.container{float:left; width:100%; margin-top:75px}
.container nav.desk{width:100%; background:#364a4b; height:60px; box-shadow:0 2px 2px rgba(0,0,0,0.14); top:0; left:0;}

.container nav.desk ul{width:75%; height:60px; margin: 0 auto;}
.container nav.desk ul li{width:20%; float:left; text-align: center; line-height: 60px;text-transform: uppercase; cursor: pointer; transition: all 0.5s ease; }
.container nav.desk ul li:hover{background:#a3ada5}
.container nav.desk ul li.active{background:#a3ada5}

/* Hamburger*/


/* destination*/

.destination-section{float:left; width: 100%;}
.title-wrap{max-width:1102px;  text-align: center}
.destination-item-wrap{float:left; width:100%; margin-top: 50px;  display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; -webkit-box-align: center; align-items: center;}
.desination-item{float:left; width:22.91970802919708%; transition: all .3s ease-in}
.desination-item:hover {width: 24.67153284671533%;}
.desination-item img{float:left; width:100%}
.desination-item span{float:left; width:100%; text-align: center; margin-top: 20px;}
   
/* destination*/



/* tab*/

.tab-wrap{float:left; width: 100%; padding: 50px 0;}
.tab-inner-wrap{max-width:1450px;}
.tab-nav{float:left; width: 100%;background-color:azure;}
.tab-nav ul {float:left; width: 100%; border-bottom: 1px solid #dedede;}
.tab-nav ul li{float:left; width:17.95620437956204%; margin: 0  1.167883211678832%; text-align: center; text-transform: uppercase; padding:12px 0 ;position: relative; cursor: pointer; overflow: hidden; transition: all .3s ease-in-out}
.tab-nav ul li:first-child{margin-left: 0;}
.tab-nav ul li:last-child{margin-right: 0;}
.tab-nav ul li:after{content: ''; width:calc(100% - 55px); height:1px; background-color: #91191c; left: 50%; bottom:0; transform: translateX(-50%); margin-left: -100%; transition: all .3s ease-in; position: absolute;}
.tab-nav ul li:hover, .tab-nav ul li.active{color:#91191c;}
.tab-nav ul li:hover:after, .tab-nav ul li.active:after{margin-left:0;}

.tab-content-wrap{float:left; width: 100%; margin-top: 29px; position: relative}
.tab-content{float:left; width: 100%; position: absolute;}
.tab-content:first-child{display: block}

.tab-thumb{float:left; width: 49.05109489051095%; min-height: 235px; margin: 0.9489051094890511%; background-repeat: no-repeat; background-size: cover; background-position: center center;position:relative;}

.tab-thumb:nth-child(1){width:100%; min-height: 371px; margin-right: 0; margin-left: 0}
.tab-thumb:nth-child(2){margin-left:0}
.tab-thumb:nth-child(3){margin-right:0}
.thumb-content{float: left; width: 100%; position: absolute; left: 0; top:50%; transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%); text-align: center}
.thumb-content:first-child{position:absolute;top: auto; bottom:0; left: 0;}
.thumb-content h5{font-size: 20px; line-height: 25px; color:#ffffff;}
.thumb-content h3{font-size: 40px; line-height: 40px; color:#ffffff;}

.btn {width: 235px; height: 47px; font-size:15px; line-height: 15px; color:#ffffff; font-weight: 500; letter-spacing: 2px; text-align: center; padding: 16px 42px; text-transform: uppercase; background-image: url(../images/button-shape@2x.png); background-repeat: no-repeat; background-position: center center; background-size: cover;position: absolute; bottom: 0; right:60px}





/* footer section */

.desk{display: block}
.mobi{display: none}

.footer-wrap{float:left; width:100% ; margin-top: 700px;}
.footer-wrap .common-wrap{max-width:1240px; margin:0 auto; padding:0 20px;}
.widget-wrap{float:left; width:100%; padding:50px 0 30px 0}
.fotter-widget{float:left; width:16.66666666666667%; margin-right: 3.333333333333333%}
.fotter-widget:first-child{float:left; width:25.25%; margin-right: 0}
.fotter-widget:last-child{float:right; width:14.75%; margin-right: 0; }

.footer-logo, .footer-logo img{width:138px;}

small{display: block; font-size:12px; line-height: 20px; letter-spacing: .15px; margin-top: 30px;}
.copy-right{float:left; width:100%; color: rgba(35, 31, 32, 0.4)}


.fotter-widget h6{font-size:14px; line-height: 20px; letter-spacing: 0.18px; color:#00c2f3}
.fotter-widget li{margin-top: 10px;}
.fotter-widget li a{font-size:14px; line-height: 20px; letter-spacing: 0.18px; color:#231f20;}


.social-wrap{text-align: right; margin-right: -12px}
.social-wrap a {width:25px; height: 25px; border-radius: 50%; margin-right: 12px;}
.social-wrap a img {width:100%}
.social-wrap + small {float:right; margin-top: 33px;}
.social-wrap + small a { vertical-align: bottom;}
.social-wrap + small img {width:38px; margin-left:10px; }
/* footer section */

/* tab*/



/* =======================================================================================================
============================================ Responsive style ========================================== */

/*		Mobile Layout: 320px and 480px and more but less than or equal to 767px.
----------------------------------------------------------------------------------
*/

@media only screen and (min-width: 320px) and (max-width: 767px) {
    input[type="text"],input[type="submit"],input[type="password"],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none; border-radius: 0}
    
    .desk{display: none}
    .mobi{display: block}
    
    
    .fotter-widget , .fotter-widget:first-child , .fotter-widget:last-child, .social-wrap {width:100%; text-align: center; margin:27px 0 0 0;}
    .social-wrap + small{float:none; margin-top: 33px;}

}



/*		Wide Mobile Layout: 480px.
------------------------------------------------------------
*/

@media only screen and (min-width: 480px) and (max-width: 767px) {


}


/*		Tablet Layout: 768px.
-----------------------------------------------------------------
*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    input[type="text"],input[type="submit"],input[type="password"],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none; border-radius: 0}
	
}


/*		Tablet Layout: 1024px.
-----------------------------------------------------------------
*/

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    input[type="text"],input[type="submit"],input[type="password"],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none; border-radius: 0}
	
}




/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	
}







